# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# NestJS Build
/dist
/build
/tmp

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment Variables
.env
.env.development
.env.test
.env.production
.env*.local

# Temporary Files
.temp
.tmp

# Native / Certificates
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Example App
app-example/

# Generated Native Folders (Expo Prebuild)
/android
/ios
